.mapbox {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.mapboxImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}