.menuToggles {
    display: flex;
    justify-content: center;
    font-family: var(--font-goudy);
    font-style: italic;
    font-size: 150%;
    letter-spacing: 1px;
}

.menuToggle {
    cursor: pointer;
    margin: 0 20px;
    transition: color 0.2s ease, border-color 0.2s ease;

    &:hover {
        color: var(--coe-gold);
    }
}

.toggleSelected {
    /* text-decoration: underline; */
    border-bottom: 2px solid var(--coe-green);
}

.menuWrapper {
    max-width: 850px;
    margin: 0 auto;
}

.menuPanel {
    display: flex;
    flex-direction: column;
}

.menuCategory {
    width: 100%;
    padding: 40px;
}

.menuCategoryTitle {
    background-color: var(--off-white);
    color: var(--coe-green);
    border: 3px solid var(--coe-gold);
    padding: 15px;
    text-transform: uppercase;
    font-family: var(--font-raleway);
    letter-spacing: 4px;
    text-align: center;
}

.menuCategorySubtitle {
    font-style: italic;
    margin-top: 20px;
}

.mobileDisplayNone {
    display: none;
    background-color: transparent;
    border: none;
}

.mobileNoTopPadding {
    padding-top: 0;
    margin-top: -40px;
}

@media (min-width: 768px) {
    .menuPanel {
        flex-direction: row;
    }

    .menuCategory {
        width: 50%;

        &.alwaysFullWidth {
            width: 100%;
        }
    }

    .mobileDisplayNone {
        display: block;
    }

    .mobileNoTopPadding {
        padding-top: 40px;
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    .menuCategoryTitle {
        font-size: 145%;
    }
}