.header {
    margin: 50px auto;
    padding: 0 30px;

    & span {
        background-color: var(--off-white);
        color: var(--coe-green);
        border: 3px solid var(--coe-gold);
        padding: 20px;
        text-transform: uppercase;
        font-family: var(--font-raleway);
        font-weight: 700;
        letter-spacing: 4px;
        display: block;
        margin: 0 auto;
        width: fit-content;
    }
}

.bottomImageWrapper {
    margin: 0 auto;
    max-width: 700px;
    padding: 30px;
}

@media (max-width: 400px) {
    .header {
        font-size: 145%;
    }
}