.navbar {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px 100px 30px;
  height: 0;
}

.logoWrapper {
  overflow: hidden;
  height: 130px;
  flex-grow: 1;
  flex-basis: 245px;
}

.logoLinkWrapper {
  display: block;
  height: 100%;
  width: max-content;

  li & {
    width: auto;
  }
}

.desktopLogoWrapper {
  height: 100%;
}

.desktopLogoWrapper {
  display: block;

  &:hover {
    & svg * {
      fill: var(--coe-gold) !important;
    }
  }
}

.desktopLogo {
  height: 130%;
  transform: translateY(-50%);
  width: auto;
  position: relative;
  top: 50%;
  
  & * {
    fill: var(--coe-green) !important;
    transition: fill 0.2s ease;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 100;

  &:hover {
    & .line {
      background-color: var(--coe-gold);
    }

    & .lineTop, & .lineBottom {
      background-color: var(--eggshell);
    }
  }
}

.line {
  width: 25px;
  height: 3px;
  background-color: var(--coe-green);
  transition: all 0.3s ease;
}

.lineTop {
  width: 30px;
  transform: rotate(45deg) translateY(12px);
  background-color: var(--coe-gold);
}

.lineBottom {
  width: 30px;
  transform: rotate(-45deg) translateY(-12px);
  background-color: var(--coe-gold);
}

.navLinksContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--coe-green);
  overflow: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.menuOpen {
  visibility: visible;
  opacity: 1;
}

.navLinks {
  font-family: var(--font-caslon);
  color: var(--coe-gold);
  text-transform: uppercase;
  font-size: 225%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navLink {
  margin-bottom: 20px;

  & a {
    transition: color 0.2s ease;
  }
  
  &:hover a {
    color: var(--eggshell);
  }
  
}

.navLinkLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  cursor: pointer;

  & a {
    display: block;
    height: 100%;
  }
}

.mobileLogoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}

.mobileLogo {
  height: 100%;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-75%);
  
  & * {
    fill: var(--coe-gold) !important;
    transition: fill 0.2s ease;
  }

  &:hover * {
    fill: var(--eggshell) !important;
  }
}

@media (min-width: 768px) {
  .navContent {
    padding: 100px;
  }

  .logoWrapper {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .navLinks {
    font-size: 150%;
  }

  .logoWrapper {
    height: 100px;
  }
}