@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&family=Sorts+Mill+Goudy:ital@0;1&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* BREAKPOINTS */
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1025px;

  /* COLORS */
  --coe-green: #3E4B44;
  --coe-gold: #DDBE71;
  /* --coe-gold: hsl(43, 57%, 66%); */
  --off-black: #333;
  --off-white: #f9f9f9;

  /* FONTS */
  --font-caslon: "Libre Caslon Text", serif;
  --font-goudy: "Sorts Mill Goudy", serif;
  --font-raleway: "Raleway", sans-serif;

  /* SIZES */
  --nav-height-mobile: 80px;
  --nav-height-desktop: 100px;
}

/* Additional global styles */
html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: var(--font-goudy);
  font-size: 16px;
  color: var(--off-black);
  background-color: var(--off-white);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: scroll;
}

main {
  min-height: calc(100vh - var(--nav-height-mobile));
  padding-top: var(--nav-height-mobile);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1 {
  font-family: var(--font-caslon);
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}

@media (min-width: 768px) {
  main {
    /* min-height: calc(100vh - var(--nav-height-desktop)); */
    padding-top: var(--nav-height-desktop);
  }
}