.topImageWrapper, .bottomImageWrapper, .homeText {
    margin: 0 auto;
    padding: 50px;
    max-width: 850px;
}

.topImageWrapper {
    display: flex;
    justify-content: end;
}

.bottomImageWrapper {
    display: flex;
    justify-content: start;
    margin-top: -85px;
}

.topImage, .bottomImage {
    width: 80%;
}

.homeText {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;

    & div {
        width: 50%;
        padding: 30px;
        position: relative;
    }
}

.mainDescription {
    background-color: var(--coe-green);
    /* color: var(--eggshell); */
    /* font-size: 175%; */
    left: 40px;
    top: -85px;
    transform: skewX(5deg);
    z-index: 2;
    
    & h1 {
        color: var(--coe-green);
        mix-blend-mode: plus-lighter;
        position: relative;
        top: 0px;
        left: 30px;
        font-size: 220%;
        width: 175%;
        text-transform: uppercase;
        font-family: var(--font-raleway);
        font-weight: 700;
        text-align: left;
        transform: skewX(-5deg);
        /* text-shadow: 1px 2px var(--coe-gold); */
    }
}

.hoursReservations {
    position: relative;
    z-index: 2;

    & button {
        position: relative;
        top: 125px;
        right: 100px;
        background-color: var(--off-white);
        border: 5px solid var(--coe-gold);
        padding: 20px 30px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--coe-gold);
        }

        & h1 {
            color: var(--coe-green);
            text-wrap: nowrap;
            letter-spacing: 3px;
            /* font-family: var(--font-goudy); */
        }
    }
}

@media (max-width: 830px) {
    .homeText {
        flex-direction: column;

        & div {
            position: static;
            width: 100%;
        }
    }

    .mainDescription {
        transform: none;

        & h1 {
            position: static;
            width: 100%;
            font-size: 150%;
            transform: none;
        }
    }

    .hoursReservations {
        padding-bottom: 0 !important;
        position: relative !important;
        top: -50px;

        & a {
            display: block;
            text-align: center;
        }

        & button {
            position: static;

            & h1 {
                text-wrap: wrap;
                font-size: 100%;
            }
        }
    }

    .bottomImageWrapper {
        margin-top: 0;
        padding-top: 0;
    }

    .topImage, .bottomImage {
        width: 100%;
    }
}

/* .homeHeader {
    white-space: pre;
    color: var(--eggshell);
    text-align: left;
    position: absolute;
    z-index: 100;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.homeBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homeBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeBackgroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--coe-green);
    opacity: 50%;
}

@media (min-width: 768px) {
    .homeHeader {
        font-size: 300%;
    }
} */